.icon {
	margin-right: 5px;
	margin-top: 10px;
}

.users {
	margin-top: 30px;
	color: #fff;
	overflow-wrap: break-word;
}

@media(max-width: 680px) {
	.users {
		display: flex;
		overflow-x: auto;
		flex-wrap: nowrap;
	}

	.user__inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: baseline;
	}

	.icon {
		margin-left: 5px;
	}
}